<!DOCTYPE html>
<html>
<head>
  <title>Personal</title>
  <%= stylesheet_link_tag    "personal/application", media: "all" %>
  <%= javascript_include_tag "personal/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
